.example-spacer {
  flex: 1 1 auto;
}


.example-icon{
  background: transparent;
  color: #fff;
  border: none;
  box-shadow: none
}

.navItem{
  font-size: 18px;
  margin-top: 4px;
}

.cartContainer{
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.cartContainer:hover, .navItem:hover{
  color: red;
  cursor: pointer;
}

.logo{
  height: 80px;
  width: 120px;
  margin-top: 5px
}

.logo:hover{
  transform: scale(1.1);
}
