<nav>
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <div class="logoContainer">
        <img class="logo" src="../../../assets/imagens/logo.png" routerLink="">
      </div>
    </button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <div class="cartContainer" (click)="openDialog()">
        <mat-icon class="">shopping_cart</mat-icon>
        <label class="navItem">Meu Carrinho</label>
      </div>
    </button>
  </mat-toolbar>
</nav>
