<div class="main">
  <section></section>
  <h1>Seleção de Produtos</h1>
  <div class="produtosContainer" id="style-2">
    <div class="produtoCard" *ngFor="let item of data">
      <img class="imgCard" src="{{item.img}}">
      <label class="nomeProduto">{{item.nome}}</label>
      <label class="precoProduto">{{item.preco | currency:'BRL':true }}</label>
      <div class="addCart" (click)="openSnackBar(item.id)">
        <mat-icon class="iconCart">add_shopping_cart</mat-icon>
        <label class="addCartLabel">Adicionar ao Carrinho</label>
      </div>
    </div>
  </div>
</div>
