<div class="main">
  <div class="titleContainer"><h1>Meu Carrinho</h1></div>
  <div class="divider"></div>
  <div class="produtosContainer">
    <div class="produtoCard" *ngFor="let item of products">
      <img class="imgCard" src="{{item.urlImg}}">
      <label class="nomeProduto">{{item.name}}</label>
      <label class="valorProduto">{{item.valor | currency:'BRL':true }}</label>
      <div class="dividerRow"></div>
      <div class="quantidadeDeleteContainer">
        <div class="quantidadeContainer">
          <button><mat-icon (click)="increment(item.idItem)">keyboard_arrow_up</mat-icon></button>
          <label class="quantidade">{{item.quantidade}}</label>
          <button><mat-icon (click)="decrement(item.idItem)">keyboard_arrow_down</mat-icon></button>
        </div>
        <div class="dividerColumn"></div>
        <mat-icon class="deleteIcon" (click)="deleteItem(item.idItem)">delete_forever</mat-icon>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="infoContainer">
    <div class="valorContainer">
      <label class="totalLabel">Total: </label>
      <label class="resultTotal">{{valorTotal | currency:'BRL':true }}</label>
    </div>
    <button class="myButton" (click)="toRoute()">Finalizar Compra</button>
  </div>
</div>
