.main{
  height: 600px;
  width: 100%;
  justify-content: top;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgCard{
  height: 120px;
  margin: 10px;
}


.quantidadeDeleteContainer{
  column-gap: 20px;
  display: flex;
  width: 100%;
  justify-content: center;
}


.valorProduto{
  color: rgba(31, 31, 31, 0.76);
  font-weight: 300!important;
  padding-bottom: 10px;
  font-size: 19px;
}
.valorProdutoMobile{
  color: rgba(31, 31, 31, 0.76);
  font-weight: 400!important;
  margin-top: 8px;

  width: 100%;
  font-size: 17px;
  margin-top: -1px;

}

mat-icon{
  color: black;
}

.deleteIcon{
  font-size: 40px!important;
}

.precoProduto{
  margin-top: -7px;
  font-size: 20px;

  display: flex;
  border: 1 solid black;
}

.priceContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.priceLabel{
  font-size: 15px;
  font-weight: 300;
  color: rgb(37, 37, 37);
}

.titleContainer h1{
  font-weight: 300;
  font-size: 30px;
}

.divider{
  width: 90%;
  height: 2px;
  background-color: #fff;
}

.produtosContainer{
  width: 90%;
  height: 90%;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 50px;
  padding: 20px 0 20px 0;
}

::-webkit-scrollbar {
  width: 0px;
}

.produtoCard{
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.8em black;
  border-radius: 5px;
  width: 200px;
  height: 250px;
  align-items: center;
  background-color: white;
}

.nomeProdutoContainer{
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 40px;
  align-items: center;
  justify-content: center!important;
  width: 100%;
}

.myRow{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nomeProduto{
  font-size: 18px;
  color: rgb(0, 0, 0);
  display: flex;
  padding-left: 11px;
}

.quantidadeLabel{
  color: rgba(0, 0, 0, 0.719);
}

.quantidadeContainer{
  display: flex;
  flex-direction: column;
  color: black;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  transform: scale(0.65);
  margin-top: -18px;
}

.dividerRow{
  width: 100%;
  height: 1px;
  background-color: rgb(70, 70, 70);
  padding: 0.5px;
}
.dividerColumn{
  height: 98%;
  width: 1px;
  background-color: rgb(70, 70, 70);
}

.infoContainer{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
  width: 90%;
}

.totalLabel{
  font-size: 25px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  padding: 30px 0 0 20px;
}

.resultTotal{
  font-size: 20px;
  color: rgba(255, 255, 255, 0.733);
  font-weight: 300;
  padding: 30px 0 0 5px;
}

.quantidade{
  margin: 0!important;
}

mat-icon:hover{
  color: red;
  cursor: pointer;

}

button{
  border: none;
  background-color: transparent;
  box-shadow: none;
}

.valorProdutoMobile{
  display: none;
}

.myButton{
  height: 50px;
  box-shadow: 0 0 0.5em black;
  border-radius: 5px;
  margin-top: 20px;
  background-color: gray;
}
.myButton:active{
  box-shadow: 0 0 0.1em black;
}

